@model BarakaBg.Web.ViewModels.ErrorViewModel

@{
    ViewData["Title"] = "Registration successful";
}

<h1>@ViewData["Title"]</h1>

<div>
    <h3>
        Before you can Login, please confirm your email, by clicking on the confirmation link we have emailed you
    </h3>
</div>