@using BarakaBg.Data.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager

@model BarakaBg.Web.ViewModels.Products.ProductReviewInputViewModel

<div class="review-form">
    <h6>Add Your Review</h6>
    @if (this.SignInManager.IsSignedIn(this.User))
    {
        <form asp-area="" asp-controller="Products" asp-action="CreateReview" method="post">
            <div class="row">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="col-md-12">
                    <div class="star-rating">
                        <label asp-for="Rating"></label>
                        <span class="fa fa-star" data-rating="1"></span>
                        <span class="fa fa-star" data-rating="2"></span>
                        <span class="fa fa-star" data-rating="3"></span>
                        <span class="fa fa-star" data-rating="4"></span>
                        <span class="fa fa-star" data-rating="5"></span>
                        <input asp-for="Rating" class="rating-value" style="visibility:hidden;height:0;" />
                    </div>
                </div>
                <div class="col-md-6">
                    <label asp-for="Name"></label>
                    <input asp-for="Name" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="col-md-12">
                    <label asp-for="Content"></label>
                    <textarea asp-for="Content" rows="3"></textarea>
                    <span asp-validation-for="Content" class="text-danger"></span>
                    <input asp-for="UserId" hidden />
                    <input asp-for="ProductId" hidden />
                    <button type="submit">Add Review</button>
                </div>
            </div>
        </form>
    }
    else
    {
        <h5>You must be signed-in in order to leave a review.</h5>
    }
</div>