@using BarakaBg.Data.Models
@using Microsoft.AspNetCore.Identity
@using BarakaBg.Common
@inject SignInManager<ApplicationUser> SignInManager

@if (this.SignInManager.IsSignedIn(this.User) && !this.User.IsInRole(GlobalConstants.AdministratorName))
{
    <!-- Chat -->
    <div id="body">
        <div id="chat-circle" class="btn btn-raised">
            <div id="chat-overlay"></div>
            <i class="material-icons">
                contact_support
            </i>
        </div>
        <div class="chat-box">
            <div class="chat-box-header">
                LIVE CHAT
                <span class="chat-box-toggle">
                    <i class="material-icons">
                        close
                    </i>
                </span>
            </div>
            <div class="chat-box-body">
                <div class="chat-box-overlay">
                </div>
                <div class="chat-logs">

                </div><!--chat-log -->
            </div>
            <div class="chat-input">
                <form>
                    <input type="text" id="chat-input" placeholder="Send a message..."/>
                    <button type="submit" class="chat-submit" id="chat-submit">
                        <i class="material-icons">
                            send
                        </i>
                    </button>
                </form>
            </div>
        </div>
    </div>
    <!-- End Chat -->

    <!-- SignalR -->
    <script src="~/lib/signalr/dist/browser/signalr.min.js" asp-append-version="true" defer></script>
    <script src="~/js/chat/chat.min.js" asp-append-version="true" defer></script>
}
