@model BarakaBg.Web.ViewModels.Administration.Dashboard.IndexViewModel
@{
    this.ViewData["Title"] = "Admin dashboard";
}

<h1>@this.ViewData["Title"]</h1>

<!doctype html>
<html lang="en">
<head>
    <title>Hello, world!</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <!--     Fonts and icons     -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />

    <!-- Material Dashboard CSS -->
    <link rel="stylesheet" href="~/css/material-dashboard.css" asp-append-version="true">

</head>
<body class="dark-edition">

    <!--   Core JS Files   -->
    <script src="~/js/core/jquery.min.js" asp-append-version="true"></script>
    <script src="~/js/core/popper.min.js" asp-append-version="true"></script>
    <script src="~/js/core/bootstrap-material-design.min.js" asp-append-version="true"></script>

    <script src="https://unpkg.com/default-passive-events" asp-append-version="true"></script>

    <!--  Notifications Plugin, full documentation here: http://bootstrap-notify.remabledesigns.com/    -->
    <script src="~/js/plugins/bootstrap-notify.js"></script>

    <!--  Charts Plugin, full documentation here: https://gionkunz.github.io/chartist-js/ -->
    <script src="~/js/plugins/chartist.min.js">

    </script>

    <!-- Plugin for Scrollbar documentation here: https://github.com/utatti/perfect-scrollbar -->
    <script src="~/js/plugins/perfect-scrollbar.jquery.min.js">

    </script>


    <!-- Demo init -->
    <script src="~/js/plugins/demo/demo.js">

    </script>

    <!-- Material Dashboard Core initialisations of plugins and Bootstrap Material Design Library -->
    <script src="~/js/material-dashboard.js?v=2.1.0">

    </script>
</body>
</html>
