@model BarakaBg.Web.ViewModels.Orders.OrderListViewModel

@{
    this.ViewData["Title"] = "Processed Orders";
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div>
      
</div>
</body>
</html>